node_modules
.next
out
dist
coverage
storybook-static
.git
.github
.vscode
.devcontainer
.husky
*.tsbuildinfo
.env.local
.env*.local
.data
__tests__
packages/indexer/node_modules
packages/indexer/dist
